.CouponsList {
	height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    /* overflow: auto; */
    flex-direction: column;
    background-color: rgb(255, 249, 242);
    
}
.CouponsList >h1{
    height: 80px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    background-color:#ddd;
    overflow: auto;
}

.CouponsList tr:ntn-child(even){
    background-color:rgb(26, 82, 100);

}
.CouponsList tr:ntn-child(odd){
    background-color:lightcoral;
    
}
.CouponsList tr:nth-child(even){background-color: #f2f2f2;}

.CouponsList tr:hover {background-color: #ddd;}

.mytable{
    height: 120%;
    overflow: auto;
    }
    