.App{
    display: grid;
    grid-template-rows:15% 70% 15%;
    grid-template-columns: repeat(12,1fr);
    height:100%;
    width: 100%;
}


.App > .Header{
    grid-column: span 12;
    width: 100%;
}

.App > .Footer{
    grid-column: span 12;
}


.App > .Menu{
    grid-column: span 2;
    width: 100%;
}


.App > .Main{
    grid-column: span 10;
}

.App > .Home{
   width:100%;
  height:100%;
  margin:0px;
    background-color: rgb(238, 126, 145);
}