.Menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #398AB9;
}

a:link {
    color: #EEEEEE;
  }
  
  /* visited link */
  a:visited {
    color: #03045E;
  }
  

  .links{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }